{% extends 'layout.html.twig' %}

{% block content %}
<article class="series">
    <h1>{{series.name}}</h1>
    <p>This series has {{series.chapters.count}} chapters.</p>

    {% if series.chapters.count > 0 %}
        <ul>
            {% for chapter in series.chapters %}
                <li>
                    {{chapter.chapterNo}} - <a href="{{app.url.generate(chapter)}}">{{chapter.title}}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="/">Back home</a>
</article>
{% endblock %}