{% extends 'layout.html.twig' %}

{% block content %}
<article class="chapter">
    <h1>Chapter {{chapter.chapterNo}} - {{chapter.title}}</h1>
    <p>This series has {{chapter.pages.count}} chapters.</p>

    {% if chapter.pages.count > 0 %}
        <ul>
            {% for page in chapter.pages %}
                <li>
                    <a href="{{app.url.generate(page)}}">{{page.pageNo}}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{app.url.generate(chapter.series)}}">Back to {{chapter.series.name}}</a>
    <a href="/">Back home</a>
</article>
{% endblock %}