{% extends 'layout.html.twig' %}

{% block content %}
<article class="chapter">
    <h1>Chapter {{chapter.chapterNo}} - {{chapter.title}}</h1>
    <p>This chapter has {{pages.count}} pages.</p>

    {% if pages.count > 0 %}
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{app.url.generate(page)}}">{{page.pageNo}}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{{app.url.generate(series)}}">Back to {{series.name}}</a></p>
    <p><a href="/">Back home</a></p>
</article>
{% endblock %}